.row.title
  %h1
    Stock Exchange Reminder
.row.choice
  .col-sm-2.col-sm-offset-1
    = form_tag("/search", method: "post") do 
      = text_field_tag :stock_number, nil, :placeholder=>"Only accept 1 to 10"
      = submit_tag("Search")
      %span.glyphicon.glyphicon-search
  .col-sm-2
    %button.btn.btn-primary
      = @stock ? @stock.name : "No data about it"
  .col-sm-2
    %button.btn.btn-info#movingAvgButton
      Moving Average
  .col-sm-2
    %button.btn.btn-warning#candleStickButton
      Candlestick Chart
  .col-sm-1
    -if @stock.recommend
      %button.btn.btn-success
        Buy
    -if !@stock.recommend
      %button.btn.btn-danger
        Sell

.row
  .col-lg-4.graph.col-sm-offset-1#movingAvgContainer
    %h4 Blue line represents  250 days moving average
    %h4 Red line represents 25 days moving average
    %canvas(id="myChart" width="1000" height="400")

.row
  .col-lg-4.chart.col-sm-offset-1#candleStickContainer
    %div(id="chartContainer" width="1000" height="400")

.row
-if @stock
  .col-sm-offset-1.col-sm-9
    %table.table.table-bordered.table-striped
      %tr
        %th Stock Number 
        %th Date
        %th Open
        %th High
        %th Low 
        %th Close
        %th Trading Volume ($HK)
        %th Adjusted Close
        %th Moving Average 250 day
        %th Moving Average 25 day
        %th Data Updated at        
      -@stock.daily_prices[0..19].each do |daily_price|
        %tr
          %td= daily_price.stock_number 
          %td= daily_price.date
          %td= daily_price.open
          %td= daily_price.high
          %td= daily_price.low 
          %td= daily_price.close
          %td= daily_price.trading_volume
          %td= daily_price.adjusted_close
          %th= daily_price.moving_250
          %th= daily_price.moving_25
          %td= daily_price.updated_at
